////////////////////////////////////////////////////////////////////////
// Layout
////////////////////////////////////////////////////////////////////////

&define{HorizontalRule}{0.4rem solid &ColorTertiary}

/***********************************************************************
** Header
***********************************************************************/

&BEM{\#Header} {
  border-bottom: &HorizontalRule;
  margin-bottom: 1.5rem;
}

/***********************************************************************
** Body
***********************************************************************/

&BEM{\#Panel} {
  border: 0.3rem solid &ColorQuaternary;
}

&BEM{\#Panel}{}{side-right} {
  float: right;
  margin: 0 0 0 1rem;
}

/*
&BEM{\#Panel}{}{side-left} {
  float: left;
  margin: 0 1rem 0 0;
}
*/

/***********************************************************************
** Footer
***********************************************************************/

&BEM{\#Footer} {
  border-top: &HorizontalRule;
}

////////////////////////////////////////////////////////////////////////
// Logo
////////////////////////////////////////////////////////////////////////

&BEM{Logo} {
  font-size: 2.6rem;
}

////////////////////////////////////////////////////////////////////////
// Version
////////////////////////////////////////////////////////////////////////

&BEM{Version} {
  font-size: 1.2rem;
  font-weight: bold;
}

////////////////////////////////////////////////////////////////////////
// MenuBar
////////////////////////////////////////////////////////////////////////

&BEM{MenuBar} {
  display: inline;
  padding: 0;
  font-variant: small-caps;
  text-transform: lowercase;
  list-style: none;
}

&BEM{MenuBar}{item} {
  display: inline;
  font-size: 120%;
  font-weight: bold;
}

&BEM{MenuBar}{item}:first-child {
  margin-left: 1rem;
}

&BEM{MenuBar}{item}:not(:last-child) {
  margin-right: 2rem;
}

&BEM{MenuBar}{item}{active}{> a} {
  text-decoration: underline;
}

////////////////////////////////////////////////////////////////////////
// Toc
////////////////////////////////////////////////////////////////////////

&BEM{Toc} {
  width: 16em;
  padding: 0 1em;
  text-align: center;
  font-size: 80%;
}

&BEM{Toc}{title} {
  margin-bottom: 0.5em;
  border-bottom: 0.1rem solid &ColorQuaternary;
  font-weight: bold;
}

&BEM{Toc} ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: square;
  font-size: inherit;
  text-align: left;
  line-height: 1.4;
}

&BEM{Toc} li {
  margin: 0;
}

////////////////////////////////////////////////////////////////////////
// License
////////////////////////////////////////////////////////////////////////

&BEM{License} {
  text-align: center;
}

&BEM{License} > p {
  margin-bottom: 0;
}

////////////////////////////////////////////////////////////////////////
// Repository
////////////////////////////////////////////////////////////////////////

&BEM{Repository}  {
	text-align: center;
  list-style: none;
}

&BEM{Repository}{section}  {
  display: inline;
	font-variant: small-caps;
  font-weight: bold;
}

&BEM{Repository}{section}:first-child:before  {
  content: "❲ ";
  color: &ColorSecondary;
}

&BEM{Repository}{section}:not(last-child):after  {
  content: " ❘ ";
  color: &ColorSecondary;
}

&BEM{Repository}{section}:last-child:after  {
  content: " ❳";
  color: &ColorSecondary;
}

// vim:ts=2:sw=2:ai:et:fileencoding=utf-8:syntax=css
