////////////////////////////////////////////////////////////////////////
// Layout
////////////////////////////////////////////////////////////////////////

&define{HorizontalRule}{ 0.4rem solid &ColorTertiary }

/***********************************************************************
** Header
***********************************************************************/

&LB{Header} {
  border-bottom: &HorizontalRule;
  margin-bottom: 1.5rem;
}

/***********************************************************************
** Body
***********************************************************************/

&LB{Panel} {
  border: 0.3rem solid &ColorQuaternary;
}

&LBM{Panel}{side-right} {
  float: right;
  margin: 0 0 0 1rem;
}

/*
&LBM{Panel}{side-left} {
  float: left;
  margin: 0 1rem 0 0;
}
*/

/***********************************************************************
** Footer
***********************************************************************/

&LB{Footer} {
  border-top: &HorizontalRule;
}

////////////////////////////////////////////////////////////////////////
// Logo
////////////////////////////////////////////////////////////////////////

&B{Logo} {
  font-size: 2.6rem;
}

////////////////////////////////////////////////////////////////////////
// Version
////////////////////////////////////////////////////////////////////////

&B{Version} {
  font-size: 1.2rem;
  font-weight: bold;
}

////////////////////////////////////////////////////////////////////////
// MenuBar
////////////////////////////////////////////////////////////////////////

&B{MenuBar} {
  display: inline;
  padding: 0;
  font-variant: small-caps;
  text-transform: lowercase;
  list-style: none;
}

&BE{MenuBar}{item} {
  display: inline;
  font-size: 120%;
  font-weight: bold;
}

&BE{MenuBar}{item}:first-child {
  margin-left: 1rem;
}

&BE{MenuBar}{item}:not(:last-child) {
  margin-right: 2rem;
}

&BEM{MenuBar}{item}{active} > a {
  text-decoration: underline;
}

////////////////////////////////////////////////////////////////////////
// Toc
////////////////////////////////////////////////////////////////////////

&B{Toc} {
  width: 16em;
  padding: 0 1em;
  text-align: center;
  font-size: 80%;
}

&BE{Toc}{title} {
  margin-bottom: 0.5em;
  border-bottom: 0.1rem solid &ColorQuaternary;
  font-weight: bold;
}

&B{Toc} ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: square;
  font-size: inherit;
  text-align: left;
  line-height: 1.4;
}

&B{Toc} li {
  margin: 0;
}

////////////////////////////////////////////////////////////////////////
// License
////////////////////////////////////////////////////////////////////////

&B{License} {
  text-align: center;
}

&B{License} > p {
  margin-bottom: 0;
}

////////////////////////////////////////////////////////////////////////
// Repository
////////////////////////////////////////////////////////////////////////

&B{Repository}  {
	text-align: center;
  list-style: none;
}

&BE{Repository}{section}  {
  display: inline;
	font-variant: small-caps;
  font-weight: bold;
}

&BE{Repository}{section}:first-child:before  {
  content: "❲ ";
  color: &ColorSecondary;
}

&BE{Repository}{section}:not(last-child):after  {
  content: " ❘ ";
  color: &ColorSecondary;
}

&BE{Repository}{section}:last-child:after  {
  content: " ❳";
  color: &ColorSecondary;
}

// vim:ts=2:sw=2:ai:et:fileencoding=utf-8:syntax=css
