//
// Footer
//

#FOOTER {
  border-top:4px solid &ColorPrimary;
  padding-top:.5em;
  margin-top:1em;
}

#FOOTER div.github {
	text-align: center;
}

#FOOTER div.github a {
	font-variant: small-caps;
  font-weight: bold;
}

// vim:ts=2:sw=2:ai:et:fileencoding=utf-8:syntax=css
