//
// Footer
//

.Footer {
  border-top: 4px solid &ColorQuaternary;
}

.Footer .Footer_license {
  text-align:center;
}

.Footer .Footer_license > p {
  margin-bottom: 0;
}

.GitHubMenu  {
	text-align: center;
}

.GitHubMenu > a  {
	font-variant: small-caps;
  font-weight: bold;
}

// vim:ts=2:sw=2:ai:et:fileencoding=utf-8:syntax=css
