/***********************************************************************
 * Base modules
 **********************************************************************/

&include{new/default.css}

// Parameters
&define{ColorInitial}{&White}
&define{ColorPrimary}{&DarkCyan}
&define{ColorSecondary}{&Black}
&define{ColorTertiary}{&LightGrey}
&define{ColorQuaternary}{&LightGrey}

&define{Scale}{1}
&define{SpacingScale}{0.7}
&define{TypographyScale}{0.8}

// Milligran modules
&include{new/color.css}
&include{new/base.css}
&include{new/spacing.css}
&include{new/typography.css}
&include{new/blockquote.css}
&include{new/code.css}
&include{new/link.css}
&include{new/list.css}
&include{new/table.css}
&include{new/divider.css}
&include{new/grid.css}
&include{new/utility.css}
//&include{new/image.css}
//&include{new/form.css}
//&include{new/button.css}

/***********************************************************************
 * Hacks
 **********************************************************************/

#flowhack {
  border: 0;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  visibility: hidden;
}

#flowhack + pre {
  font-size: 1.4rem;
}

/***********************************************************************
 * Media
 **********************************************************************/

/* Larger than mobile */
//@media screen and (min-width: 400px) { }

/* Larger than phablet (also point when grid becomes active) */
//@media screen and (min-width: 550px) { }

/* Larger than tablet */
//@media screen and (min-width: 750px) { }

/* Larger than desktop */
//@media screen and (min-width: 1000px) { }

/* Larger than Desktop HD */
//@media screen and (min-width: 1200px) { }

/***********************************************************************
 * jqt theme
 **********************************************************************/

body.Container {
  max-width: 800px;
}

body {
  background-color: &ColorInitial;
}

h2:target::after,
h3:target::after,
h4:target::after {
  content: " §";
  color: &ColorQuaternary;
  font-family: serif;
}

td {
  font-size: 90%;
  padding: 0.8rem 1.0rem;
}

dt {
  margin-bottom: 0.1em;
  font-weight: bold;
}


ul {
  list-style-type: square;
}

pre > code {
  font-family: "Liberation Mono", FreeMono, "Nimbus Mono L", monospace;
}

.footnotes ol {
  list-style-type: decimal;
  list-style-position: outside;
  line-height: 1.3;
  font-size: 90%;
  margin-left: 1.1em;
}

.footnotes p {
  margin: 0;
  padding: 0;
}

&include{blocks.css}

// vim:ts=2:sw=2:ai:et:fileencoding=utf-8:syntax=css
