////////////////////////////////////////////////////////////////////////
// main
////////////////////////////////////////////////////////////////////////

&include{new/default.css}
&include{milligram.css}
&include{media.css}
&include{blocks/header/style.css}
&include{blocks/footer/style.css}
&include{blocks/panel/style.css}
&include{blocks/content/style.css}
&include{blocks/menu-bar/style.css}
&include{blocks/logo/style.css}
&include{blocks/toc/style.css}
&include{blocks/license/style.css}
&include{blocks/repository/style.css}

html {
  background-color: &ColorInitial;
}

&BEM{#container} {
  max-width: 800px;
}

// Hacks

#flowhack {
  border: 0;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  visibility: hidden;
}

#flowhack + pre {
  font-size: 1.4rem;
  border: 0.3rem solid &ColorQuinary;
  border-radius: 1rem;
}

// vim:ts=2:sw=2:ai:et:fileencoding=utf-8:syntax=css
