//
// Menu bar
//

.MenuBar {
  margin: 0 0 2rem 0;
  padding: 0;
  font-variant: small-caps;
  text-transform: lowercase;
  border-bottom: 4px solid &ColorQuaternary;
  list-style: none;
}

.MenuBar_logo {
  display: inline;
  margin-left: 0;
  margin-right: 0;
  font-size: 180%;
}

.MenuBar_version {
  display: inline;
  font-size: 12px;
  font-weight: bold;
}

.MenuBar_item {
  display: inline;
  font-size: 120%;
  font-weight: bold;
}

.MenuBar_item:not(:last-child) {
  margin: 0 1rem;
}

.MenuBar_item.-active > a {
  text-decoration: underline;
}

// vim:ts=2:sw=2:ai:et:fileencoding=utf-8:syntax=css
