//
// Menu bar
//

.MenuBar {
  margin: 0 0 2rem 0;
  padding: 0;
  font-variant: small-caps;
  text-transform: lowercase;
  border-bottom: 4px solid &ColorQuaternary;
  outline: none;
}

.MenuBar a {
  padding: 4px;
}

.MenuBar_logo {
  display: inline;
  margin-left: 0;
  margin-right: 0;
  font-size: 180%;
}

.MenuBar_version {
  display: inline;
  font-size: 12px;
  font-weight: bold;
}

.MenuBar_item {
  display: inline;
  margin: 0 1rem;
  font-size: 120%;
  font-weight: bold;
}

.MenuBar_item-active,
.MenuBar a:hover {
  color: &ColorPrimary;
  background-color: &ColorTertiary;
}

// vim:ts=2:sw=2:ai:et:fileencoding=utf-8:syntax=css
