//
// Table of contents
//
#TOC {
  font-size: 80%;
  width: 20em;
  margin: 1em 0 1em 1em;
  padding: 0 1em;
  border: 3px solid &ColorQuaternary;
  text-align: center;
}

#TOC p {
  font-weight: bold;
  border-bottom: 1px solid &ColorQuaternary;
  margin-bottom: 0.5em;
}

#TOC ul {
  font-size: inherit;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: square;
  text-align: left;
}

#TOC li {
  margin: 0;
}

// vim:ts=2:sw=2:ai:et:fileencoding=utf-8:syntax=css
