//
// Table of contents
//

.Toc {
  float: right;
  font-size: 80%;
  width: 16em;
  margin: 0 0 0 1em;
  padding: 0 1em;
  border: 3px solid &ColorQuaternary;
  text-align: center;
  font-weight: bold;
}

.Toc .Toc_title {
  font-weight: bold;
  border-bottom: 1px solid &ColorQuaternary;
  margin-bottom: 0.5em;
}

.Toc ul {
  font-size: inherit;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
  list-style-type: square;
}

.Toc li {
  margin: 0;
}

// vim:ts=2:sw=2:ai:et:fileencoding=utf-8:syntax=css
