@import url("https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic");
html{line-height:1.15;-webkit-text-size-adjust:100%;}
body{margin:0;}
main{display:block;}
h1{font-size:2em;margin:0.67em 0;}
hr{box-sizing:content-box;height:0;overflow:visible;}
pre{font-family:monospace,monospace;font-size:1em;}
a{background-color:transparent;}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted;}
b,strong{font-weight:bolder;}
code,kbd,samp{font-family:monospace,monospace;font-size:1em;}
small{font-size:80%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sub{bottom:-0.25em;}
sup{top:-0.5em;}
img{border-style:none;}
button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0;}
button,input{overflow:visible;}
button,select{text-transform:none;}
button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button;}
button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0;}
button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText;}
fieldset{padding:0.35em 0.75em 0.625em;}
legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal;}
progress{vertical-align:baseline;}
textarea{overflow:auto;}
[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0;}
[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto;}
[type="search"]{-webkit-appearance:textfield;outline-offset:-2px;}
[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit;}
details{display:block;}
summary{display:list-item;}
template{display:none;}
[hidden]{display:none;}
@media screen{html{background-color:#FFFFFF;}
}*,*::after,*::before{box-sizing:inherit;}
html{box-sizing:border-box;font-size:62.5%;}
body{color:#000000;font-family:'Roboto','Helvetica Neue','Helvetica','Arial',sans-serif;font-size:1.6em;font-weight:300;letter-spacing:.01em;line-height:1.6;}
.button,button,dd,dt,li{margin-bottom:calc(0.7 * 1.0rem);}
fieldset,input,select,textarea{margin-bottom:calc(0.7 * 1.5rem);}
blockquote,details,dl,figure,form,ol,p,pre,summary,table,ul{margin-bottom:calc(0.7 * 2.5rem);}
b,strong{font-weight:bold;}
p{margin-top:0;}
h1,h2,h3,h4,h5,h6{font-weight:300;letter-spacing:-.1rem;margin-bottom:calc(0.8 * 2.0rem);margin-top:0;}
h1{font-size:calc(0.8 * 4.6rem);letter-spacing:-0.1rem;line-height:1.2;}
h2{font-size:calc(0.8 * 3.6rem);letter-spacing:-0.1rem;line-height:1.25;}
h3{font-size:calc(0.8 * 2.8rem);letter-spacing:-0.1rem;line-height:1.3;}
h4{font-size:calc(0.8 * 2.2rem);letter-spacing:-0.08rem;line-height:1.35;}
h5{font-size:calc(0.8 * 1.8rem);letter-spacing:-0.5rem;line-height:1.5;}
h6{font-size:calc(0.8 * 1.6rem);letter-spacing:0.0rem;line-height:1.4;}
q{quotes:"“" "”" "‘" "’";}blockquote{border-left:0.3rem solid #D3D3D3;margin-left:0;margin-right:0;padding:1rem 1.5rem;}
blockquote *:last-child{margin-bottom:0;}
code{background:#E6E6FA;border-radius:.4rem;font-size:86%;margin:0 .2rem;padding:.2rem .5rem;white-space:nowrap;}
pre{background:#E6E6FA;border-left:0.3rem solid #008B8B;overflow-y:hidden;}
pre>code{border-radius:0;display:block;padding:1rem 1.5rem;white-space:pre;}
a{color:#008B8B;text-decoration:none;}
a:focus,a:hover{color:#000000;}
dl,ol,ul{list-style:none;margin-top:0;padding-left:0;}
dl dl,dl ol,dl ul,ol dl,ol ol,ol ul,ul dl,ul ol,ul ul{font-size:90%;margin:1.5rem 0 1.5rem 3.0rem;}
ol{list-style:decimal inside;}
ul{list-style:circle inside;}
table{border-spacing:0;width:100%;}
th,td{border-bottom:.1rem solid #E1E1E1;padding:1.2rem 1.5rem;text-align:left;}
th:first-child,td:first-child{padding-left:0;}
th:last-child,td:last-child{padding-right:0;}
hr{border:0;border-top:0.1rem solid #E6E6FA;margin:calc(0.7 * 3.0rem) 0;}
.\#container{margin:0 auto;max-width:112.0rem;padding:0 2.0rem;position:relative;width:100%;}
.\#row{display:flex;flex-direction:column;padding:0;width:100%;}
.\#row_no-padding{padding:0;}
.\#row_no-padding{padding:0;}
.\#row_wrap{flex-wrap:wrap;}
.\#row_align-top{align-items:flex-start;}
.\#row_align-bottom{align-items:flex-end;}
.\#row_align-center{align-items:center;}
.\#row_align-stretch{align-items:stretch;}
.\#row_align-baseline{align-items:baseline;}
.\#column{display:block;flex:1 1 auto;margin-left:0;max-width:100%;width:100%;}
.\#column_offset-10{margin-left:10%;}
.\#column_offset-20{margin-left:20%;}
.\#column_offset-25{margin-left:25%;}
.\#column_offset-33{margin-left:33.3333%;}
.\#column_offset-34{margin-left:33.3333%;}
.\#column_offset-50{margin-left:50%;}
.\#column_offset-66{margin-left:66.6666%;}
.\#column_offset-67{margin-left:66.6666%;}
.\#column_offset-75{margin-left:75%;}
.\#column_offset-80{margin-left:80%;}
.\#column_offset-90{margin-left:90%;}
.\#column_size-10{flex:0 0 10%;max-width:10%;}
.\#column_size-20{flex:0 0 20%;max-width:20%;}
.\#column_size-25{flex:0 0 25%;max-width:25%;}
.\#column_size-33{flex:0 0 33.3333%;max-width:33.3333%;}
.\#column_size-34{flex:0 0 33.3333%;max-width:33.3333%;}
.\#column_size-50{flex:0 0 50%;max-width:50%;}
.\#column_size-66{flex:0 0 66.6666%;max-width:66.6666%;}
.\#column_size-67{flex:0 0 66.6666%;max-width:66.6666%;}
.\#column_size-75{flex:0 0 75%;max-width:75%;}
.\#column_size-80{flex:0 0 80%;max-width:80%;}
.\#column_size-90{flex:0 0 90%;max-width:90%;}
.\#column_align-top{align-self:flex-start;}
.\#column_align-bottom{align-self:flex-end;}
.\#column_align-center{align-self:center;}
@media (min-width:40rem){.\#row{flex-direction:row;margin-left:-1.0rem;width:calc(100% + 2.0rem);}
.\#column{margin-bottom:inherit;padding:0 1.0rem;}
}.\%clearfix::after{clear:both;content:' ';display:table;}
.\%float-right{float:right;}
.\%float-left{float:left;}
.post-excerpt{}
.post-excerpt__title{text-decoration:underline;}
.post-excerpt__text{}
.post-excerpt__date{color:#D3D3D3;}
@media screen{body.\#container{max-width:800px;}
}.\#header{border-bottom:0.4rem solid #E6E6FA;margin-bottom:1.5rem;}
@media print{.\#header{display:none;}
}.\#footer{border-top:0.4rem solid #E6E6FA;}
@media print{.\#footer{display:none;}
}.\#panel{border:0.3rem solid #D3D3D3;border-radius:0.4rem;}
.\#panel_side-right,
.\#panel.-side-right{float:right;margin:0 0 0 1rem;}
.\$content h2:target::after,.\$content h3:target::after,.\$content h4:target::after{content:" §";color:#D3D3D3;font-family:serif;}
.\$content td{font-size:90%;padding:0.8rem 1.0rem;}
.\$content caption{border-top:.1rem solid #E1E1E1;border-bottom:.1rem solid #E1E1E1;font-weight:bold;}
.\$content dt{font-weight:bold;margin-bottom:0.1em;}
.\$content ul{list-style-type:square;}
.\$content pre{border-radius:0.4rem;font-family:"Liberation Mono","Nimbus Mono L",monospace;}
.\$content cite{font-style:italic;}
.\$content .footnotes ol{list-style-type:decimal;list-style-position:outside;line-height:1.3;font-size:90%;margin-left:1.1em;}
.\$content .footnotes p{margin:0;padding:0;}
.\$content summary{cursor:zoom-in;outline:none;}
.\$content details[open]>summary{cursor:zoom-out;}
.\$content figure>pre{border:0.3rem solid #E1E1E1;border-radius:1rem;font-size:1.4rem;}
.\$content .page-quote{float:right;margin:0 0 0 auto;padding-top:0;padding-bottom:0;max-width:20em;font-family:"Liberation Serif","Times New Roman",Times,serif;text-align:right;}
@media print{.\$content figure>pre{font-size:1.2rem;}
}.menu-bar{display:inline;padding:0;font-variant:small-caps;text-transform:lowercase;list-style:none;}
.menu-bar__item{display:inline;font-size:120%;font-weight:bold;}
.menu-bar__item:first-child{margin-left:1rem;}
.menu-bar__item:not(:last-child){margin-right:2rem;}
.menu-bar__item_current>a,.menu-bar__item.-current>a{text-decoration:underline;}
.logo{font-size:2.6rem;}
.logo__version{font-size:1.2rem;font-weight:bold;}
.toc{max-width:22em;padding:0 1em;text-align:center;font-size:80%;}
.toc__title{margin-bottom:0.5em;border-bottom:0.1rem solid #D3D3D3;font-weight:bold;}
.toc ul{margin-top:0;margin-bottom:0;list-style-type:square;font-size:inherit;text-align:left;line-height:1.4;}
.toc li{margin:0;}
.license{text-align:center;}
.license>p{margin-bottom:0;}
.repository{text-align:center;list-style:none;}
.repository__section{display:inline;font-variant:small-caps;font-weight:bold;}
.repository__section>a:focus{color:#008B8B;}
.repository__section>a:hover{color:#000000;}
.repository__section:first-child:before{content:"❲ ";color:#000000;}
.repository__section:not(last-child):after{content:" ❘ ";color:#000000;}
.repository__section:last-child:after{content:" ❳";color:#000000;}
