@import url("https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic");
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{margin:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block;}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline;}
audio:not([controls]){display:none;height:0;}
[hidden],template{display:none;}
a{background-color:transparent;}
a:active,a:hover{outline:0;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
dfn{font-style:italic;}
h1{font-size:2em;margin:0.67em 0;}
mark{background:#ff0;color:#000;}
small{font-size:80%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
img{border:0;}
svg:not(:root){overflow:hidden;}
figure{margin:1em 40px;}
hr{box-sizing:content-box;height:0;}
pre{overflow:auto;}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em;}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0;}
button{overflow:visible;}
button,select{text-transform:none;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
button[disabled],html input[disabled]{cursor:default;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
input{line-height:normal;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto;}
input[type="search"]{-webkit-appearance:textfield;box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;padding:0;}
textarea{overflow:auto;}
optgroup{font-weight:bold;}
table{border-collapse:collapse;border-spacing:0;}
td,th{padding:0;}
dt{font-weight:bold;}html{box-sizing:border-box;font-size:62.5%;}
body{color:#000000;font-family:'Roboto','Helvetica Neue','Helvetica','Arial',sans-serif;font-size:1.6em;font-weight:300;letter-spacing:.01em;line-height:1.6;}
*,*::after,*::before{box-sizing:inherit;}
.button,button{margin-bottom:1.0rem;}
input,textarea,select,fieldset{margin-bottom:1.5rem;}
pre,blockquote,dl,figure,table,p,ul,ol,form{margin-bottom:2.5rem;}
p{margin-top:0;}
h1,h2,h3,h4,h5,h6{font-weight:300;margin-bottom:2.0rem;margin-top:0;}
h1{font-size:4.0rem;letter-spacing:-.1rem;line-height:1.2;}
h2{font-size:3.6rem;letter-spacing:-.1rem;line-height:1.25;}
h3{font-size:3.0rem;letter-spacing:-.1rem;line-height:1.3;}
h4{font-size:2.4rem;letter-spacing:-.08rem;line-height:1.35;}
h5{font-size:1.8rem;letter-spacing:-.05rem;line-height:1.5;}
h6{font-size:1.6rem;letter-spacing:0;line-height:1.4;}
@media (min-width:40rem){h1{font-size:5.0rem;}
h2{font-size:4.2rem;}
h3{font-size:3.6rem;}
h4{font-size:3.0rem;}
h5{font-size:2.4rem;}
h6{font-size:1.5rem;}
}a{color:#008B8B;text-decoration:none;}
a:hover{color:#000000;}
blockquote{border-left:0.3rem solid #D3D3D3;margin-left:0;margin-right:0;padding:1rem 1.5rem;}
blockquote *:last-child{margin:0;}
code{background:#F5F5F5;border-radius:.4rem;font-size:86%;padding:.2rem .5rem;margin:0 .2rem;white-space:nowrap;}
pre{background:#F5F5F5;border-left:0.3rem solid #008B8B;font-family:'Menlo','Consolas','Bitstream Vera Sans Mono','DejaVu Sans Mono','Monaco',monospace;}
pre>code{background:transparent;border-radius:0;display:block;padding:1rem 1.5rem;white-space:pre;}
dl,ol,ul{margin-top:0;padding-left:0;}
dl dl,dl ul,dl ol,ol dl,ol ul,ol ol,ul dl,ul ul,ul ol{font-size:90%;margin:1.5rem 0 1.5rem 3.0rem;}
dl{list-style:none;}
ul{list-style:circle inside;}
ol{list-style:decimal inside;}
dt,dd,li{margin-bottom:1.0rem;}
table{width:100%;}
th,td{border-bottom:.1rem solid #E1E1E1;padding:1.2rem 1.5rem;text-align:left;}
th:first-child,td:first-child{padding-left:0;}
th:last-child,td:last-child{padding-right:0;}
.float-right{float:right;}
.float-left{float:left;}
.clearfix::after,.clearfix::before{content:'';display:table;}
.clearfix::after{clear:both;}
#flowhack{border:0;font-size:0;line-height:0;margin:0;padding:0;visibility:hidden;}
#flowhack+pre{font-size:1.4rem;}
@media screen and (max-width:800px){body{padding:1rem;}
}@media screen and (min-width:400px){body{margin:5px auto;}
}
@media screen and (min-width:550px){body{margin:10px auto;}
}@media screen and (min-width:750px){body{width:76rem;}
}
body{background-color:#FFFFFF;}
.footnotes ol{list-style:decimal outside;}
.footnotes li{margin-left:1em;}
.footnotes p{margin:0;padding:0;}
.\#_Header{border-bottom:0.4rem solid #F5F5F5;}
.\#_Body_panel{border:0.3rem solid #D3D3D3;}
.\#_Body_panel.-side-right{float:right;margin:0 0 0 1rem;}
.\#_Footer{border-top:0.4rem solid #F5F5F5;}
.Logo{font-size:2.6rem;}
.Version{font-size:1.2rem;font-weight:bold;}
.MenuBar{display:inline;padding:0;font-variant:small-caps;text-transform:lowercase;list-style:none;}
.MenuBar_item{display:inline;font-size:120%;font-weight:bold;}
.MenuBar_item:first-child{margin-left:1rem;}
.MenuBar_item:not(:last-child){margin-right:2rem;}
.MenuBar_item.-active>a{text-decoration:underline;}
.Toc{width:16em;padding:0 1em;text-align:center;font-size:80%;font-weight:bold;}
.Toc_title{margin-bottom:0.5em;border-bottom:0.1rem solid #D3D3D3;font-weight:bold;}
.Toc ul{margin-top:0;margin-bottom:0;list-style-type:square;font-size:inherit;text-align:left;}
.Toc li{margin:0;}
.License{text-align:center;}
.License>p{margin-bottom:0;}
.Repository{text-align:center;list-style:none;}
.Repository_section{display:inline;font-variant:small-caps;font-weight:bold;}
.Repository_section:first-child:before{content:"❲";color:#000000;}
.Repository_section:not(last-child):after{content:"❘";color:#000000;}
.Repository_section:last-child:after{content:"❳";color:#000000;}

