////////////////////////////////////////////////////////////////////////
// Content
////////////////////////////////////////////////////////////////////////

&BEM{$content} h2:target::after,
&BEM{$content} h2:target::after,
&BEM{$content} h4:target::after {
  content: " §";
  color: &ColorQuaternary;
  font-family: serif;
}

&BEM{$content} td {
  font-size: 90%;
  padding: 0.8rem 1.0rem;
}

&BEM{$content} caption {
  border-top: .1rem solid &ColorQuinary;
  border-bottom: .1rem solid &ColorQuinary;
}

&BEM{$content} dt {
  margin-bottom: 0.1em;
  font-weight: bold;
}

&BEM{$content} ul {
  list-style-type: square;
}

&BEM{$content} pre {
  font-family: "Liberation Mono", "Nimbus Mono L", monospace;
  border-radius: 0.4rem;
}

&BEM{$content} .footnotes ol {
  list-style-type: decimal;
  list-style-position: outside;
  line-height: 1.3;
  font-size: 90%;
  margin-left: 1.1em;
}

&BEM{$content} .footnotes p {
  margin: 0;
  padding: 0;
}

// Page specific

html#content-home &BEM{$content} > blockquote:first-child {
  float: right;
  margin: 0 0 0 auto;
  padding-top: 0;
  padding-bottom: 0;
  max-width: 20em;
  font-family: "Liberation Serif", "Times New Roman", Times, serif;
  text-align: right;
}

// vim:ts=2:sw=2:ai:et:fileencoding=utf-8:syntax=css
