////////////////////////////////////////////////////////////////////////
// Logo
////////////////////////////////////////////////////////////////////////

&BEM{logo} {
  font-size: 2.6rem;
}

&BEM{logo}{version} {
  font-size: 1.2rem;
  font-weight: bold;
}

// vim:ts=2:sw=2:ai:et:fileencoding=utf-8:syntax=css
